<div class="container">
    <h2 class="d-flex justify content-center">Create a New Post</h2>
    <form class="formPostNew">
        <div class="mb-3">
            <label for="newTitle" class="form-label">Title:</label>
            <input type="text" class="form-control" id="titleNew" placeholder="Title Goes Here"/>
        </div>

        <div class="mb-3">
            <label for="newContent" class="form-label">Text:</label>
            <textarea class="form-control" id="contentNew" rows="4" placeholder="Content Goes Here"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Publish</button>
        </div>
    </form>
</div>
